<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzxy.xc.dao.GoodsDao">
    <sql id="goods">
        <where>
            <if test="name != null and name != ''">
                name like concat("%", #{name}, "%")
            </if>
        </where>
    </sql>

    <select id="findGoods" resultType="com.zzxy.xc.entity.Goods">
        select * from xc_goods
        <include refid="goods"/>
        order by createdTime
    </select>

    <insert id="saveGoods" keyProperty="id" useGeneratedKeys="true" parameterType="com.zzxy.xc.entity.Goods">
        insert into xc_goods values (null,#{cateid},#{name},#{subtitle},#{imgUrl},#{price},#{stock},#{state},now(),#{createdUser},now(),#{modifiedUser})
    </insert>
</mapper>