<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzxy.xc.dao.LogDao">
	<sql id="queryUsername">
		<where>
			<if test="username !=null and username !=''">
				username like concat("%", #{username}, "%")
			</if>
		</where>
	</sql>
	<select id="findLogObject" resultType="com.zzxy.xc.entity.Log">
		select * from xc_logs
		<include refid="queryUsername"/>
			order by createdTime
	</select>
	<delete id="doDeleteByIds">
	delete from xc_logs where id in
	<foreach collection="array" open="(" close=")" separator="," item="ids">
			#{ids}
	</foreach>
	</delete>
</mapper>